<!-- Simple Password Protection -->
<script>
  (function() {
    var password = 'your-password-here'; // Change this to your desired password
    var entered = sessionStorage.getItem('website-password-entered');
    
    if (entered !== 'true') {
      var userPassword = prompt('This website is password protected. Please enter the password:');
      if (userPassword === password) {
        sessionStorage.setItem('website-password-entered', 'true');
      } else {
        alert('Incorrect password');
        window.location.href = 'https://www.google.com';
      }
    }
  })();
</script> 