{% comment %}
  Selected papers disabled - jekyll-scholar not supported by GitHub Pages
  <div class="publications">
    {% bibliography --group_by none --query @*[selected=true]* %}
  </div>
{% endcomment %}

<!-- For selected papers, please refer to the Publications page -->
